/* style.css */
/*hsl- hue(angle) sturation and lightness */
@import url(https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap);
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    font-family: 'Outfit', serif;
    background: hsl(212, 45%, 89%);
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.main-container{
    background: hsl(0, 0%, 100%);
    padding:10px;
    border-radius:20px;
    text-align: center;
    width: 420px;
    box-shadow: 0 10px 40px hsl(220,15%,55%);
    
    
}
.main-container .qr-component{
    padding-top: 10px;
}
.main-container .details{
    margin-top: 10px;
}

.main-container .mini-details{
    margin: 15px;
    
}
h1{
    color:hsl(218,44%,23%) ;
    font-weight: 700;
}
p{
    color: hsl(216,15%,48%);
    font-size: 15px;
    font-weight: 400;
    padding: 15px;
}
img{
    border-radius: 15px;
    height: 370px;
    width:370x;
}

.attribution{
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228,45%,44%);
    text-decoration: none;
}

/* mobile responsiveness */
/*Color will change if the viewport is 480px wide or wider
I if less the color will be the one in the body for the desktop(min-width)
For (max-width)...it is the opposite*/
@media screen and (max-width:375px) {
    body{
        background: hsl(212, 45%, 89%);
    }
}